<html>
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
	<h1>Your To-Do list</h1>
	<form method="POST">
	    <input id="id_new_item" name="item_text" placeholder="Enter a to-do item"/>
	    {% csrf_token %} 
	</form>
	<table id="id_list_table">
		{% for item in items %}
		<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
		{% endfor %}
	</table>
    </body>
</html>
